*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Header{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

 hr {
  border: none;              
  height: 3px;              
  background-color: black;          
  margin: 10px auto;         
}
.box{
    margin-top: 20px;
    margin-left: 39px;
    border: 2px solid black;
    padding: 15px;
    width: 350px;
    height: 130px;
    box-sizing: content-box;
}

body{
    width: 512px;
}

footer{
    margin-left: 15px;
    margin-bottom: 50px;
}