*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Header{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box_1{
    margin-top: 50px;
    margin-left: 45px;
    border: 2px solid black;
    padding: 15px;
    width: 300px;
    height: 150px;
    box-sizing: content-box;
}



body{
    width: 512px;
}